* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: hidden;
    display:flex;
    align-content: center;
}

#timer{
    background: url("https://image.ibb.co/eOahS9/timer_100_halo.gif");
    position:fixed;
    opacity: 0.9;
    width:100px;
    height:100px;
    left:40px;
    top:570px;
    display: flex;
    text-align: center;
}

#timer_numbers{
    left:30px;
    top:540px;
    color:rgb(6, 23, 53);
    font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:18px;
    text-align: center;
    border-left:30px;
    padding-left:39.2px;
    padding-top: 54px;
    letter-spacing:-1px;
    
}